    <div class="col-md-12 ">
    <div class="banner">
        <div class="col-md-12"> 
          <div class="col-md-3 text-center">
            <div class="col-md-12 icon-block"><img src="../../../../assets/landing-page-images/icon-shop.png"/></div>
            <h2>Shop</h2>
            <div class="col-md-12"><p>
                Find a store near you. See their products, specials and events.
            </p></div>
          </div>
          <div class="col-md-3 text-center">
              <div class="col-md-12 icon-block"><img src="../../../../assets/landing-page-images/icon-order.png"/></div>
              <h2>Order</h2>
              <div class="col-md-12"><p>
                  Make your selections.
              </p></div>
            </div>
            <div class="col-md-3 text-center">
                <div class="col-md-12 icon-block"><img src="../../../../assets/landing-page-images/icon-deliver.png"/></div>
                <h2>Deliver</h2>
                <div class="col-md-12"><p>
                    That’s what we do… to your door. No door? No problem – we’ll deliver through windows, down chimneys and up treehouses.
                </p></div>
              </div>
              <div class="col-md-3 text-center">
                  <div class="col-md-12 icon-block"><img src="../../../../assets/landing-page-images/icon-repeat.png"/></div>
                  <h2>Repeat</h2>
                  <div class="col-md-12"><p>
                      Because it was so convenient you’ll want to do this often. Even oftener.
                  </p></div>
                </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>