.banner{ 
    background: url(../../../../assets/landing-page-images/bg-sodr.png) repeat-x left top #e91d24; margin-bottom: 30px; padding: 150px 0 30px 0;
    } 
.text-center{ text-align: center; color: #fff;}   
.icon-block{ height: 150px;}
h2{ font-size: 4.5em; font-family: Calafia-Regular;}
p{font-size: 1.4em;}