.text-center{ text-align: center;}
.herotext{ color: #e91d24; font-size: 6em; text-align: center; font-weight: 800; text-transform: uppercase; line-height: 88px;}
h4{ color: #e91d24; text-align: center; font-size: 1.8em; font-weight: 800; text-transform: uppercase; margin-bottom: 30px;}
h4.text-right{ margin-right: 7%;}
.margin40{ margin: 40px 0;}
.btn-default{background: #64676d; color: #fff; text-transform: uppercase; font-weight: 800; font-size: 2em; margin-top: 30px; padding: 10px 20px;}
.btn-default:hover{ opacity: 0.8;}