.loc-city img{ width: 100%; height: auto; max-width: 100%; }
.loc-city{ margin-bottom: 30px; position: relative;}
.loc-city h4{ color: #fff;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 2em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;}